.wrapper {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.list {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 5%;
  margin: 5% 0;
}

.list--op {
  width: 40%;
}

.box {
  position: relative;
  height: 0;
  padding-bottom: 100%;
}

.box-content {
  position: absolute;
  background-color: #eee;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s background-color ease-in-out;
}

.box--int:hover {
  cursor: pointer;
}

.box--int:hover .box-content {
  background-color: #ddd;
}

.box--answer .box-content {
  background-color: gold;
}

.list--op .box-content {
  background-color: coral;
  color: white;
}