.wrapper {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.list {
  display: grid;
  margin: 5% 0;
  align-items: center;
}

.list--main {
  grid-template-columns: repeat(4, 1fr .4fr) 1fr;
}

.list--op {
  grid-column-gap: 5px;
  grid-auto-flow: column;
  width: 40%;
}
